/* define mixin */


/* ellipsis
 * @include ellipsis;
 */
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* flex
 * @include flex(center, center);
 */
@mixin flex-xcyc($justifyContent: center, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin flex-xlyc($justifyContent: flex-start, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin flex-xlryc($justifyContent: space-between, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin flex-xryc($justifyContent: flex-end, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin flex-yc($alignItems: center) {
  display: flex;
  align-items: $alignItems;
}

@mixin flex-xlcolyt($justifyContent: flex-start,$flex-direction: column) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justifyContent;
}

@mixin flex-xl($justifyContent: flex-start) {
  display: flex;
  justify-content: $justifyContent;
}

@mixin flex-xccolyc($justifyContent: center,$alignItems: center,$flex-direction: column) {
  display: flex;
  align-items: $alignItems;
  flex-direction: $flex-direction;
  justify-content: $justifyContent;
}



